[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask-login = "*"
flask = "*"
werkzeug = "==0.15.4"
flask-mail = "*"

[requires]
python_version = "3.6"
